<div class="mobile-right-nav">
    <button class="open-mobile-menu-btn active"><img src=/imgs/icons/mobile-menu-icon.svg></button>
    <div class="opened-mobile-right-nav inactive">
        <button class="close-mobile-menu-btn"><img src="/imgs/icons/cross-icon.svg"></button>
        <div class="mobile-nav-container">
            <% if (profilePic != "") { %>
                <div class="profile-container">
                    <a class="profile-link" href="/profile"><img class="user-profile-pic" src="<%= profilePic %>" alt="user's post"></a>
                    <a class="profile-link" href="/profile">Your profile</a>
                </div>
                
            <% } else { %>
                <div class="profile-container">
                    <a class="profile-link" href="/profile"><img class="user-profile-pic" src="/imgs/icons/otter-logo.svg" alt="user's post"></a>
                    <a class="profile-link" href="/profile">Your profile</a>
                </div>
            <% } %>
            <!--<button class="notification-btn"><img src="/imgs/icons/notification-icon-empty.svg" class="notification-icon"></button>-->
            <%- include('notification-icon.ejs') %>
            <a class="feed-link" href="/">Your feed</a>
            <a class="post-link" href="/new-post">New post <img src="/imgs/icons/plus.svg" alt="plus symbol"></a>
            <form action="/logout" class="logout-form" method="post">
                <button type="submit" class="sign-out-btn">Sign out</button>
            </form>
        
        </div>
    </div>
</div>