<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head_links.ejs') %>
    <title>Ottergram: new post</title>
</head>
<body>
    <header>
        <nav class="nav-with-pic">
            <a href="/"><img class="standard-logo" src="/imgs/icons/otter-logo.svg" alt="Ottergram logo"></a>
            <div class="right-nav">
                <a href="/">Feed</a>
                <a href="/profile"><img class="user-profile-pic" src="<%= userInfo.profilePic %>" alt="user's post"></a>
                <form action="/logout" class="logout-form" method="post">
                    <button type="submit" class="sign-out-btn">Sign out</button>
                </form>
                
            </div>
        </nav>
    </header>
    <main>
        <h1>New post</h1>
        <section class="new-post-ui">
            <section class="new-post-details">
                <h2>Post details</h2>
                <h3>Upload image or GIF</h3>
                <div class="upload-zone">
                    <div class="inner-border">
                        <img class="photo-upload-img" src="/imgs/icons/photo-upload.svg">
                        <p>Drag & drop or select file from your device.</p>
                        <label for="choose-file" class="standard-btn"> Choose file</label>
                        <form id="file-upload-form" class="file-upload-form" method="post" action="/new-post" enctype="multipart/form-data">
                            <input type="file" id="choose-file" class="choose-file" name="choose-file" accept="image/png, image/jpeg, .gif" onchange="fileChosen()">
                        </form>
                        
                    </div>
                </div>
                <div class="submit-btn-div">
                    <button type="submit" form="file-upload-form" class="post-now-btn sign-out-btn">Post now</button>
                </div>
                
            </section>
            <section class="new-post-preview">
                <h2>Preview</h2>
                <div class="feed-post-container">
                    <div class="upper-feed-post">
                        <img class="user-profile-pic" src="/imgs/icons/otter-logo.svg" alt="user's post">                    
                        <h3>Unknown</h3>
                    </div>
                    <div class="post-pic">
                        <img class="post-pic-img" src="" alt="cute otter picture">
                    </div>
                    <div class="lower-feed-post">
                        <div class="likes-comments">
                            <div>
                                <img src="/imgs/icons/like-heart-white.svg" alt="heart icon">

                                <span>0</span>

                            </div>
                            <div>
                                <img src="/imgs/icons/comment-black-outline.svg" alt="comment icon">
                                <span>0</span>

                            </div>
                        </div>
                        <div class="post-date">
                            <span>Posted now</span>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>