<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head_links.ejs') %>
    <title>Ottergram: Your Following List</title>
</head>
<body>
    <h1>Following List for Authed User</h1>
</body>
</html>