<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head_links.ejs') %>
    <title>Ottergram: Your profile</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img class="standard-logo" src="/imgs/icons/otter-logo.svg" alt="Ottergram logo"></a>
            <div class="right-nav">
                <a href="/">Feed</a>
                <button class="sign-out-btn">Sign out</button>
            </div>
        </nav>
    </header>
    <main>
        <section class="profile-info">
            <img class="large-profile-pic" src="/imgs/icons/otter-logo.svg">
            <div class="profile-info-right">
                <div class="profile-upper">
                    <h1>Username</h1>
                    <a href="/settings"><img class="cog-icon" src="/imgs/icons/cog-svgrepo-com.svg"></a>
                </div>
                <div class="profile-center">
                    <p>I like otters. Otters are my friends :D</p>
                </div>
                <div class="profile-lower">
                    <span>6 posts</span>
                    <span>6 followers</span>
                    <span>6 following</span>
                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="post-preview">
                <img src="https://www.inspiremore.com/wp-content/uploads/2022/09/adorable-otters-2.jpg" alt="photo of cute otter">
                <div class="post-preview-bot">
                    <div class="likes-comments">
                        <img src="/imgs/icons/like-svgrepo-com.svg" alt="like-button">
                        <span>55</span>
                        <img src="/imgs/icons/comment-simple-lines.svg" alt="comments icon">
                        <span>15</span>
                    </div>
                    <div class="post-date">
                        <span class="post-date">1 hour ago</span>
                    </div>  
                </div>
            </div>

            <div class="post-preview">
                <img src="https://www.inspiremore.com/wp-content/uploads/2022/09/adorable-otters-2.jpg" alt="photo of cute otter">
                <div class="post-preview-bot">
                    <div class="likes-comments">
                        <img src="/imgs/icons/like-svgrepo-com.svg" alt="like-button">
                        <span>55</span>
                        <img src="/imgs/icons/comment-simple-lines.svg" alt="comments icon">
                        <span>15</span>
                    </div>
                    <div class="post-date">
                        <span class="post-date">1 hour ago</span>
                    </div>  
                </div>
            </div>

            <div class="post-preview">
                <img src="https://www.inspiremore.com/wp-content/uploads/2022/09/adorable-otters-2.jpg" alt="photo of cute otter">
                <div class="post-preview-bot">
                    <div class="likes-comments">
                        <img src="/imgs/icons/like-svgrepo-com.svg" alt="like-button">
                        <span>55</span>
                        <img src="/imgs/icons/comment-simple-lines.svg" alt="comments icon">
                        <span>15</span>
                    </div>
                    <div class="post-date">
                        <span class="post-date">1 hour ago</span>
                    </div>  
                </div>
            </div>

            <div class="post-preview">
                <img src="https://www.inspiremore.com/wp-content/uploads/2022/09/adorable-otters-2.jpg" alt="photo of cute otter">
                <div class="post-preview-bot">
                    <div class="likes-comments">
                        <img src="/imgs/icons/like-svgrepo-com.svg" alt="like-button">
                        <span>55</span>
                        <img src="/imgs/icons/comment-simple-lines.svg" alt="comments icon">
                        <span>15</span>
                    </div>
                    <div class="post-date">
                        <span class="post-date">1 hour ago</span>
                    </div>  
                </div>
            </div>
        </section>
    </main>
</body>
</html>