/* General styling */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ,sans-serif;
    /*background-color: #A1A1A1;*/
    color: black;
    box-sizing:border-box;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
    background-color: #f6f6f6;
    width: 100%;
    /* Allows for child element backgrounds to take up the whole screen width if required. */
    margin: 0;
}

h1 {
    margin-top: 2.5%;
    margin-bottom: 0.5%;
    font-size: 2.5rem;
}

/* Header styling */

header{
    width: 100dvw;
    height: auto;
    background-color: #FFFFFF;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.5% 2%;
    align-items: center;
    font-size: 1.1rem;
}

nav img, .standard-logo{
    height: 60px;
    width: auto;
}

/* main feed styling */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.feed-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-height: 95vh;
    margin: 2vh 0;
}

.upper-feed-post, .lower-feed-post{
    display: flex;
    align-items: center;
    height: 10dvh;
    width: 90%;
}


/* profil pic styling */

.upper-feed-post .user-profile-pic, .large-profile-pic{   
    border: 4px solid black;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1rem;
}

.user-profile-pic{
    height: 60px;
    width: 60px;
}

.large-profile-pic{
    height: 160px;
    width: 160px;
}

.post-pic{
    max-height: 70vh;    
}

.post-pic img{
    max-height: 70vh;
    max-width: 100%;
    object-fit: cover;
}

.lower-feed-post{
    display: flex;
    justify-content: space-between;

}

.likes-comments{
    display: flex;
    align-items: center;
}

.likes-comments div{
    display: flex;
    align-items: center;
    margin: 5%;
}

.likes-comments img{
    height: 4dvh;
    margin-left: -4px;
}

/* login and register styling */

.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 50vh;
    min-width: 250px;
    min-width: 300px;
    max-width: 450px;
    min-height: 500px;
    padding: 0px 2%;
}

.content-login h1{
    margin-bottom: 15%;
}

.login-main a{
    text-decoration: underline;
    color: rgb(139, 139, 139);
    font-size: 0.9rem;
}

.reg-span{
    color: rgb(139, 139, 139);
    font-size: 0.9rem;
}


.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 20vw;
    max-width: 350px;
    min-width: 300px;
    border-radius: 5px;
    font-size: 1.2rem;
    border-color: rgb(139, 139, 139);
    border: 1px solid rgb(139, 139, 139);
}

.login-form span{
    color: rgb(139, 139, 139);
    font-size: 0.8rem;
}



/* Fix form input sizing and span overlap */
/*
.login-form, .login-form input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
}*/

.sign-in-btn, .sign-out-btn{
    margin: 1rem;
    padding: 0;
    border: 0;
    height: 55px; 
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 5px;
}

.sign-in-btn:hover, .sign-out-btn:hover{
    background-color: black;
}

.login-form span{
    align-items: left;
}

/* profile page styling */

.sign-out-btn{
    width: 100px;
    height: 35px;
    font-size: 1.1rem;
    margin: 0 0 0 10px;
}

.profile-info{
    margin: 5vh 0;
    padding: 25px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35dvw;
    min-width: 500px;
}

.profile-info-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.profile-upper{
    display: flex;
    justify-content: space-between;
}


.cog-icon{
    height: 40px;
    width: auto;
}

.profile-lower{
    display: flex;
    justify-content: space-between;

}
.gallery{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 10px;
    margin: 0 5dvw 5dvh 5dvw;
    max-width: 90%;

}

.post-preview img{
    object-fit: cover;
    max-width: 100%;
}

.post-preview{
    
    display: flex;
    height: 450px;
    width: 450px;
    position: relative;
    justify-content: center;
}

.post-preview .post-preview-pic{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
}



.post-preview-overlay{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    visibility: hidden;
}

.post-preview-overlay a:hover{
    text-decoration: none;
}

.post-preview-overlay span{
    color: white;
}


.post-preview .post-preview-pic:hover{
    filter:blur(0.15rem);
}

.post-preview:hover .post-preview-pic{
    filter:blur(0.15rem);
}

.post-preview-pic:hover + .post-preview-overlay, .post-preview-overlay:hover{
    visibility:  visible;
}

.post-preview .likes-comments span{
    margin-right: 5px;
}







