/* General styling */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ,sans-serif;
    /*background-color: #A1A1A1;*/
    color: black;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
    background-color: #f6f6f6;
    width: 100%;
    /* Allows for child element backgrounds to take up the whole screen width if required. */
    margin: 0;
    padding: 0;
}



h1 {
    margin-top: 1%;
    margin-bottom: 0.5%;
    font-size: 2.5rem;
}

.standard-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard-btn:hover, .sign-in-btn:hover, .sign-out-btn:hover{
    cursor: pointer;
}

.like-button {
    all: unset;
}

.like-button:hover{
    cursor: pointer;
}

/* Header styling */

header{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.5% 2%;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    /*Adding shadow to bottom border. May change later*/
    box-shadow: 0px -1px 10px black;
}

nav img, .standard-logo{
    height: 60px;
    width: auto;
}

/* main feed styling */

main {
    width: 99dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.feed-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-height: 95vh;
    margin: 2vh 0;
}

.upper-feed-post, .lower-feed-post{
    display: flex;
    align-items: center;
    height: 10dvh;
    width: 90%;
}


/* profil pic styling */

.user-profile-pic, .large-profile-pic{   
    border: 4px solid black;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1rem;
}

nav .user-profile-pic{
    height: 50px;
    width: 50px;
} 

.upper-feed-post .user-profile-pic{
    height: 65px;
    width: 65px;
}



.large-profile-pic{
    height: 160px;
    width: 160px;
}

.post-pic{
    max-height: 70vh;
    width: auto;    
}

.post-pic img{
    max-height: 70vh;
    max-width: 100%;
    object-fit: cover;
}

.lower-feed-post{
    display: flex;
    justify-content: space-between;

}

.likes-comments{
    display: flex;
    align-items: center;
}

.likes-comments div{
    display: flex;
    align-items: center;
    margin: 5%;
}

.likes-comments img{
    height: 4dvh;
    margin-left: -4px;
}

/* login and register styling */

.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 50vh;
    min-width: 250px;
    min-width: 300px;
    max-width: 450px;
    min-height: 500px;
    padding: 0px 2%;
}

.content-login h1{
    margin-bottom: 15%;
}

.login-main a{
    text-decoration: underline;
    color: rgb(139, 139, 139);
    font-size: 0.9rem;
}

.reg-span{
    color: rgb(139, 139, 139);
    font-size: 0.9rem;
}


.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 20vw;
    max-width: 350px;
    min-width: 300px;
    border-radius: 5px;
    font-size: 1.2rem;
    border-color: rgb(139, 139, 139);
    border: 1px solid rgb(139, 139, 139);
}

.login-form span{
    color: rgb(139, 139, 139);
    font-size: 0.8rem;
}



/* Fix form input sizing and span overlap */
/*
.login-form, .login-form input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
}*/

.sign-in-btn, .sign-out-btn, .standard-btn{
    margin: 1rem;
    padding: 0;
    border: 0;
    height: 55px; 
    background-color: rgb(46, 46, 46);
    color: white;
    border-radius: 5px;
}

.sign-in-btn:hover, .sign-out-btn:hover, .standard-btn:hover{
    background-color: black;
}

.login-form span{
    align-items: left;
}

/* profile page styling */

.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.nav-with-pic .right-nav{
    width: 225px;
}

.right-nav .user-profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.right-nav.four-items{
    width: auto;
}

.right-nav.four-items a{
    margin: 0 5px 0 5px;
}

.right-nav.four-items form{
    margin-left: 5px;
}

.post-link{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.post-link img{
    height: 20px;
}

.sign-out-btn, .standard-btn{
    width: 100px;
    height: 35px;
    font-size: 1.1rem;
    margin: 0;
}

.profile-info{
    margin: 5vh 0;
    padding: 25px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35dvw;
    min-width: 500px;
}

#following-btn{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.profile-info-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.profile-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-profile{
    position: relative;
    display: inline-block;
    padding: 10px;
}

.settings-dropdown{
    display: none;
    position: absolute;
    width: 150px;
    height: auto;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
    border: thin solid black;
    transform: translate(-55px);
    border-radius: 10px;
}

.settings-profile:hover .settings-dropdown{
    display: flex;
}

.dropdown-items{
    text-align: center;
}

.dropdown-items button{
    all: unset;
}

.dropdown-items span, .dropdown-items button{
    width: 148px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
}

.top-dropdown-item{
    border-bottom: thin solid black; 
    border-radius: 10px 10px 0 0;
}

.bot-dropdown-item:hover{
    text-decoration: underline;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.dropdown-items *:hover{
    background-color: #f6f6f6;
}

.cog-icon{
    height: 40px;
    width: auto;
}

.cancel-delete-posts-section{
    
    z-index: 4;
    display: none;
    /*display: flex;*/
    align-items: center;
    justify-content: center;

    position: sticky;
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    bottom: 25px;
    border-radius: 10px;
    border: 3px solid black;
}

.select-for-del-section{
    display: none;
    z-index: 3;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    top: 5px;
}

.cancel-delete-posts-section *{
    margin: 5px;
}

.delete-btn{
    background-color: rgb(255, 69, 69);
}

.delete-btn:hover{
    background-color: red;
}

.profile-lower{
    display: flex;
    justify-content: space-between;

}
.gallery{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 10px;
    margin: 0 5dvw 5dvh 5dvw;
    max-width: 90%;
    min-width: 68%;

}

.post-preview img{
    object-fit: cover;
    max-width: 100%;
}

.post-preview{
    
    display: flex;
    height: 450px;
    width: 450px;
    position: relative;
    justify-content: center;
    background-color: white;
}

.post-preview .post-preview-pic{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-color: white;
}



.post-preview-overlay{
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    visibility: hidden;
}

.post-preview-overlay a:hover{
    text-decoration: none;
}

.post-preview-overlay span{
    color: white;
}


.post-preview .post-preview-pic:hover{
    filter:blur(0.15rem);
}

.post-preview:hover .post-preview-pic{
    filter:blur(0.15rem);
}

.post-preview-pic:hover + .post-preview-overlay, .post-preview-overlay:hover{
    visibility:  visible;
}

.post-preview .likes-comments span{
    margin-right: 5px;
}

/* New post page styling */



.new-post-ui{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 10%;
}

.new-post-details{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1% 2%;
    width: 35%;
    min-width: 600px;
    max-height: 450px;

}

.new-post-preview{
    background-color: white;
    padding: 0 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-post-container{
    border: 2px solid black;
    border-radius: 5px;
}

.upload-zone{
    
    background-color: #f6f6f6;
    padding: 2%;
    border-radius: 12px;
    
}

.upload-zone .inner-border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px dashed black;
    padding: 2% 5%;
    border-radius: 12px;
}



.upload-zone .photo-upload-img{
    width: 80px;

}

.choose-file {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.submit-btn-div{
    display: flex;
    justify-content: right;
}

.post-now-btn {
    margin: 20px 0;
}

.new-post-preview {
    margin-left: 5%;
    width: 35%;
    max-height: 85dvh;
}

#new-post-pic{
    max-height: 50dvh;
}

/* User settings styling */

.settings-options-sec{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30vw;
    min-width: fit-content;
}

#change-profile-pic-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
}

.upper-settings-form, .lower-settings-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-changes{
    width: 150px;
}

.nav-3 .right-nav{
    width: 300px;
}

.settings-options-sec .bio-input{
    width: 300px;
    height: 100px;
    font-size: 1rem;
    
}

.profile-center p {
    white-space: pre-wrap;
}

.settings-options-sec .standard-btn{
    width: 200px;
}

.settings-options-sec .large-profile-pic{
    margin: 0;
}

/* ############### following/follower list page styling ################ */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-followed-container{
    background-color: white;
    display: flex;
    width: 50vw;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 2px 5px black;
}

.user-followed-container *{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.follow-h1{
    margin: 30px;
}

.user-followed-container .large-profile-pic{
    width: 100px;
    height: 100px;
}

.username{
    font-size: 1.5rem;
}
