/* General styling */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ,sans-serif;
    /*background-color: #A1A1A1;*/
    color: black;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
    background-color: #eeeeee;
    width: 100%;
    /* Allows for child element backgrounds to take up the whole screen width if required. */
    margin: 0;
}

h1 {
    margin-top: 2.5%;
    margin-bottom: 0.5%;
}

/* Header styling */

header{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 0.5% 2%;
    align-items: center;
    font-size: 1.1rem;
}

nav img{
    height: 60px;
    width: auto;
}

/* main styling */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.feed-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-height: 95vh;
    margin: 2vh 0;
}

.upper-feed-post, .lower-feed-post{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 90%;
}

.upper-feed-post .user-profile-pic{
    height: 5vh;
    width: auto;
    border: 2px solid black;
    padding: 1%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.post-pic{
    height: 70vh;    
}

.post-pic img{
    max-height: 100%;
    object-fit: cover;
}

.lower-feed-post{
    display: flex;
    justify-content: space-between;

}

.likes-comments{
    display: flex;
    align-items: center;
}

.likes-comments div{
    display: flex;
    align-items: center;
    margin: 5%;
}

.likes-comments img{
    height: 4dvh;
    margin-left: -4px;
}









