name: deploy_updates

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main
env:
  # Use the same ssh-agent socket value across all jobs
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock

jobs:
  deploy:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    name: deploy
    runs-on: ubuntu-latest

    steps:
    - name: setup ssh keys
      env:
        SSH_PASSPHRASE: ${{secrets.SSH_PASSPHRASE}}
        SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        echo "echo $SSH_PASSPHRASE" > ~/.ssh_askpass && chmod +x ~/.ssh_askpass
        echo "$SSH_PRIVATE_KEY" | tr -d '\r' | DISPLAY=None SSH_ASKPASS=~/.ssh_askpass ssh-add - >/dev/null
    - name: connect
      run: ssh -i ~/.ssh/id_rsa ${{secrets.SSH_USERNAME}}@{{secrets.SSH_HOST}}
    - name: whoamiE
      run: whoami
    - name: cleanup
      run: |
        rm -rf ~/.ssh ~/.ssh_askpass
        
